<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>

<h1 style="text-align: center">User Information</h1>

<div style="text-align: center">

<table  border="1" align="center">
    <thead>
    <tr>
        <th>Name</th>
        <th>Lastname</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
    </tr>
    </tbody>
</table>

<br>

    <a href="/logout" class="logout_button">Logout</a>

</div>

</body>
</html>